body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .registration-form h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 5px;
  }
  
  
  .checkbox-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  button[type="submit"] {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  